<html>
<div>
<head>
  <title>BattleShips</title>
  <p><b> Welcome to BattleShips! </b></p>
</head>
<body style= "background: lightcyan">
  <a href="http://localhost:9292/newgame">New Game</a>
</body>
</div>
</html>
