<html>
<div>
<head>
  <title>BattleShips</title>
  <p><i> What's your name? </i></p>
</head>
<body style= "background: lightcyan">
  <input type="text" name="Player1">
  <input type="submit">
</body>
</div>
</html>
